/* Video
------------------------------------------------------------ */

.video {
	height: auto;
	margin: 0;
	background: transparent;	
}

.video-wrap {
	width: 100%;
	padding-bottom: 55%;
	position: relative;
	height: 0;
	overflow: hidden;
	float: left;
} 

.video-container {
	padding: 0;
	line-height: 1em;
}

.video-container object,  
.video-container embed,
.video-container iframe,
.video-container .element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;	
	z-index: 1000;
}